<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="phone"
         placeholder="phone"
         class="form-control"/>
  <input [(ngModel)]="address"
         placeholder="address"
         class="form-control"/>

  <button (click)="update()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      <span class="font-weight-bold">Name:</span> {{enrollment.section.name}}
      <span class="font-weight-bold">Available Seats:</span> {{enrollment.section.seats}}
      <button (click)="withdraw(enrollment)"
              class="float-right btn btn-danger">Withdraw</button>
      <button (click)="toSectionPage(enrollment)"
              class="float-right btn btn-primary">Sections</button>
    </li>
  </ul>

  <a class="btn btn-sm btn-primary" routerLink="/home">Home</a>
  <a class="btn btn-sm btn-danger float-right" (click)="logout()">Logout</a>

</div>
